body {
    background-color: aquamarine;
}

.demo {
    background: white;
    border: 1px solid gray;
    padding: 1rem; /*16px*/
    margin: 1rem 0;
    border-radius: 0.5rem; /* 8px */
}

.demo-box {
    background: pink;
    padding: 1.25rem;
    border-radius: 0.5rem;
    text-align: center;

}

/* breuta um lit þegar glugginn er minni en 600px */

@media (max-width: 600px) {
    .demo-box {
        background: blue;
        padding: 0.25rem;
    }
}

.columns {
    display: flex;
    gap: 1rem;

}

.columns .col {
    flex: 1;
    background: green;
    padding: 1rem;
    border-radius: 0.5rem;
}

@media (max-width: 600px) {
    .columns {
        flex-direction: column;
    }
}

.navigation ul {
    list-style: none;
    margin:0;
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
    background: grey;
    border-radius: 0.5rem;
}

.navigation a {
    color:aliceblue;
    background: rgb(241, 201, 201);
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    display: block;
}

@media (max-width: 600px) {
    .navigation ul {
        flex-direction: column;
    }
    .navigation a {
        padding: 0.75rem 1rem;
        /* place-self: center;
        width: 3rem; */
        text-align: center;
    }
}

.hero-title {
    font-size: 2rem;
    margin-bottom: 0.5rem;

}

.hero-img {
    width: 100%;
    max-width: 900px;
    display:block;
    margin-inline: auto;
    border-radius: 0.5rem;
}

@media (max-width: 600px) {
    .hero-title {
        font-size: 1.25rem;
    }
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.card {
    background-color: cadetblue;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid darkblue;
}

@media (max-width: 900px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .card-grid {
        grid-template-columns: 1fr;
    }
}

