body {
    background-color: aquamarine;
}

.header-ex {
    background: aliceblue;
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 0.5rem;
    margin: 0;
    padding: 1rem;
    gap: 1rem;
}
.nav-ex {
    display: flex;
    align-self: flex-end;
    gap: 1rem;
}

@media (max-width: 700px) {
    .header-ex {
        flex-direction: column;
        place-self: center;
        font-size: 1rem;
    }
    .nav-ex {
        flex-direction: column;
        align-content: center;
    }
}


.gallery  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem;
    padding: 1rem;
    border: 1px;
}

.gallery img {
    width: 100%;
    display: block;

}

@media (max-width: 800px) {
    .gallery  {
        max-width: 80%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .gallery  {
        max-width: 50%;
        grid-template-columns: 1fr;
    }
}

.typo-ex {
    font-size: 1rem;
}

@media (max-width: 600px) {
    .typo-ex p {
        font-size: 14px;
    }
}

@media (min-width: 1000px) {
    .typo-ex p {
        font-size: 20px;
    }
}

.cards {
     display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.card {
    background-color: cadetblue;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid darkblue;
}

@media (max-width: 900px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .cards {
        grid-template-columns: 1fr;
    }
}

.footer-ex  {
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    display: flex;
}

@media (max-width: 600px) {
    .footer-ex {
        flex-direction: column;
    }
}